<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>titanic</title>
</head>
<body>
  <h2>titanic Data</h2>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Survived</th>
        <th>Pclass</th>
        <th>Name</th>
        <th>sex</th>
        <th>Age</th>
        <th>SibSp</th>
      <tr>
    </thead>
    <tbody>
      {% for passenger in passengers %}
      <tr>
        <td>{{ passenger.id }}</td>
        <td>{{ passenger.survived }}</td>
        <td>{{ passenger.pclass }}</td>
        <td>{{ passenger.name }}</td>
        <td>{{ passenger.sex }}</td>
        <td>{{ passenger.age }}</td>
        <td>{{ passenger.sibsp }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
